<p>empdetail works!</p>
<pre>{{empdata|json}}</pre>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{empdata.name}}</li>
                    <li class="list-group-item">{{empdata.email}}</li>
                    <li class="list-group-item">{{empdata.department}}</li>
                    <li class="list-group-item">{{empdata.phone}}</li>
                    <li class="list-group-item">{{empdata.salary}}</li>

                </ul>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>