<div class="container">
    <div class="row mt-6">
        <div class="col-4"></div>
        <div class="col-4">
            <!-- <button (click)="redirectToAddEmp()" >AddNewEmployee</button> -->

            <a href="" class="btn btn-primary" [routerLink]="['/employee/add']">Employee Add</a>
        </div>
        <div class="col-4"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
        <app-employee-list></app-employee-list>
        </div>
        <div class="col-2"></div>

    </div>
</div>